body {
    margin: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    display: block;
    position: sticky;
    border: 1px solid #001845;
    border-radius: 0 0 5px 5px;
    /* margin: 0; */
}

.logo {
    position: absolute;
    width: 8%;
    min-width: 80px;
    /* height: calc(6vw); */
    margin: 10px;
    border: 1px;
    /* z-index: 1; */
    box-shadow: 9px -7px 8px 2px rgba(116, 92, 248, 0.5);
    border-radius: 5%;
    animation: logoMove 4s infinite;
    transition: all 1s ease;
    z-index: 99;
}

@keyframes logoMove {
    0% {
        left: 0px;
        box-shadow: 9px -7px 8px 2px rgba(116, 92, 248, 0.5);
    }

    25% {
        left: 7px;
        box-shadow: -9px -7px 8px 2px rgba(116, 92, 248, 0.5);
    }

    50% {
        left: 0px;
        box-shadow: 9px -7px 8px 2px rgba(116, 92, 248, 0.5);
    }

    75% {
        left: 7px;
        box-shadow: -9px -7px 8px 2px rgba(116, 92, 248, 0.5);
    }

    100% {
        left: 0px;
        box-shadow: 9px -7px 8px 2px rgba(116, 92, 248, 0.5);
    }
}

.logo:hover {
    cursor: pointer;
    box-shadow: -9px -7px 8px 2px rgba(116, 92, 248, 0.5);
    /* z-index: 10; */
    transform: translate3D(7px, 0px, 100px);
    animation: none;
}

img {
    position: relative;
    background-color: #001845;
    border-radius: 5%;
    width: 100%;
    /* height: 25vh; */
    /* left: calc(50% - 50px); */
    /* top: calc(50% - 50px); */
    z-index: 100;
}

.title {
    padding-left: max(10.5%, 120px);
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    height: calc(7vw);
    min-height: 70px;
}

.heading {
    width: 85%;
    font-size: x-large;
    font-weight: 700;
}

.heading-alt {
    display: none;
}

.join-us {
    width: 15%;
    display: flex;
    justify-content: center;
}

.join-us-btn {
    font-size: large;
    padding: 5%;
    border: 2px solid #001845;
    color: #001845;
    background-color: white;
    transition: all 0.2s ease-in;
    border-radius: 10px;
}

.join-us-btn:hover {
    background-color: #001845;
    color: white;
    cursor: pointer;
}

/* login modal */

.modal {
    gap: 0.4rem;
    overflow: hidden;
    /* max-width: 390px; */
    width: 60%;
    min-width: 250px;
    padding: 30px;
    min-height: 250px;
    position: absolute;
    z-index: 2;
    top: 20%;
    left: 20%;
    background-color: #fff;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.btn-close {
    transform: translate(10px, -20px);
    padding: 0.5rem 0.7rem;
    color: #0059b3;
    display: block;
    position: absolute;
    border: 3px solid #0059b3;
    right: 5%;
    border-radius: 5%;
    border: none;
}

.btn-close:hover {
    cursor: pointer;
    color: #fff;
    background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
}

.hidden {
    display: none;
}

.modal .title-text {
    display: flex;
    width: 200%;
}

.modal .login-title {
    padding-top: 10px;
    width: 50%;
    font-size: max(14px,4vw);
    font-weight: 600;
    text-align: center;
    transition: all 0.6s ease;
}

.modal .login-slide-control {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin: 30px 0 10px 0;
    justify-content: space-between;
    border: 1px solid lightgrey;
    border-radius: 15px;
}

.login-slide-control .login-slide {
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    z-index: 10;
    transition: all 0.6s ease;
}

.login-slide-control label.signup {
    color: #000;
}

.login-slide-control .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 2;
    border-radius: 15px;
    background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
    transition: all 0.6s ease;
}

input[type="radio"] {
    display: none;
}

#signup:checked~.slider-tab {
    left: 50%;
}

#signup:checked~label.signup {
    color: #fff;
    cursor: default;
    user-select: none;
}

#signup:checked~label.login {
    color: #000;
}

#login:checked~label.signup {
    color: #000;
}

#login:checked~label.login {
    cursor: default;
    user-select: none;
}

.modal .form-container {
    width: 100%;
    overflow: hidden;
}

.form-container .form-inner {
    display: flex;
    width: 200%;
}

.form-container .form-inner form {
    width: 50%;
    transition: all 0.6s ease;
}

.form-inner form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.form-inner form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 15px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    border-bottom-width: 2px;
    font-size: 17px;
    transition: all 0.3s ease;
}

.form-inner form .field input:focus {
    border-color: #1a75ff;
    /* box-shadow: inset 0 0 3px #fb6aae; */
}

.form-inner form .field input::placeholder {
    color: #999;
    transition: all 0.3s ease;
}

form .field input:focus::placeholder {
    color: #1a75ff;
}

.form-inner form .pass-link {
    margin-top: 5px;
}

.form-inner form .signup-link {
    text-align: center;
    margin-top: 30px;
}

.form-inner form .pass-link a,
.form-inner form .signup-link a {
    color: #1a75ff;
    text-decoration: none;
}

.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
    text-decoration: underline;
    cursor: pointer;
}

form .login-form-btn {
    height: 50px;
    width: 100%;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

form .login-form-btn .btn-layer {
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #003366, #004080, #0059b3, #0073e6);
    border-radius: 15px;
    transition: all 0.4s ease;
}

form .login-form-btn:hover .btn-layer {
    left: 0;
    cursor: pointer;
}

form .login-form-btn input[type="submit"] {
    height: 100%;
    width: 100%;
    z-index: 5;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    padding-left: 0;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}



/* login modal ends */

.navbar {
    padding-left: max(10%, 120px);
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #001845;
    border-radius: 0 0 5px 5px;
    height: calc(4.5vw);
    min-height: 45px;
}


.nav-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0%;
    height: 100%;
    margin: 0%;
}

.contact {
    display: flex;
    justify-content: flex-end;
}

@media (max-width:650px) {
    .contact {
        display: none;
    }

    .logo {
        width: 5%;
        min-width: 40px;
    }

    .navbar {
        padding-left: 2%;
    }

    .title {
        padding-left: max(6%, 60px);
    }

    .heading {
        width: 65%;
    }

    .login {
        width: 35%;
    }
}

.nav-items,
.change {
    font: italic bold 12px/30px Georgia, serif;
    color: white;
    display: flex;
    /* margin-left: 5%; */
    /* margin-right: 5%; */
    align-items: center;
    padding: 0.8vw;
    transition: all 0.2s ease-out;
    border-radius: 10% 10% 0 0;
}


.nav-items:hover {
    font: italic bold 12px/30px Georgia, serif;
    color: #001845;
    background-color: white;
    border-radius: 5% 5% 0 0;
    cursor: pointer;
}

.nav-items:hover .change {
    fill: #001845;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-top: 0.8vw;
    left: 0%;
    background-color: white;
    min-width: 200px;
    border-radius: 0 2% 2% 2%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #0353a4;
    padding: 4%;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease-out;
}

.dropdown-content a:hover {
    animation: links 0.2s ease-out;
    background-color: #0353a4;
    border-radius: 5%;
    color: white;
    cursor: pointer;
}

@keyframes links {
    0% {
        color: #0353a4;
        background-color: white;
    }

    100% {
        background-color: #0353a4;
        border-radius: 5%;
        color: white;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 725px) {
    .title {
        display: flex;
        justify-content: flex-end;
        padding-right: 1%;
    }

    .title>.heading {
        display: none;
    }

    .heading-alt {
        display: block;
        width: 85%;
        font-size: x-large;
        font-weight: 700;
    }
}