<link rel="stylesheet" href="../styles/footer.css" />
<div class="footer">
  <div class="background">
    <div class="footer-title">CONTACT US</div>

    <br /><br /><br />
    <div class="footer-contact">
      <div class="footer-contact-info">
        <h3 class="footer-contact-title">CONTACT INFO</h3>
        <p class="details">
          Alumni and Corporate Relations Office,<br />
          7th floor, Abhinandan Bhavan,<br />
          Indian Institute of Technology Indore,<br />
          Khandwa Road, Simrol,<br />
          Indore-453552<br />
          India
        </p>
        <p class="details">
          <i class="fa-solid fa-phone"></i>+91-731-6603122/+91-731-6603555<br />
          <i class="fa-solid fa-envelope"></i>
          alumnicell@iiti.ac.in acroffice@iiti.ac.in<br />
        </p>
      </div>
      <div class="map"></div>
    </div>
    <div class="footer-last">
      <a href="#" class="footer-buttons">Home</a
      ><a href="#" class="footer-buttons">About</a
      ><a href="#" class="footer-buttons">Contact</a
      ><a href="#" class="footer-buttons">Sitemap</a
      ><a href="#" class="footer-buttons">Privacy</a
      ><a href="#" class="footer-buttons">Terms</a>
    </div>
  </div>
</div>
